<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolApp"
        tools:targetApi="31" >
        <activity
            android:name=".PassengerAfterBookedMainActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerAfterReservedMainActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerChatActivity"
            android:exported="false" />
        <activity
            android:name=".DriverChatActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerSelectDriverActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${apikey}" />

        <activity
            android:name=".DriverMapActivity"
            android:exported="false"
            android:label="@string/title_activity_driver_map" />
        <activity
            android:name=".DriverActiveTripsActivity"
            android:exported="false" />
        <activity
            android:name=".DriverTripsSelectedActivity"
            android:exported="false" />
        <activity
            android:name=".UsageSummaryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${apikey}" />

        <activity
            android:name=".DriverBookTripActivity"
            android:exported="false" />
        <activity
            android:name=".DriverMainActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerBookRideActivity"
            android:exported="false" />
        <activity
            android:name=".PassengerMainActivity"
            android:exported="false" />
        <activity
            android:name=".SelectRoleActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>